## Import Dependencies

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

## Importing Models

In [4]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

### Data Collection and Processing

In [5]:
heart_data=pd.read_csv("heart.csv")
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [6]:
heart_data.shape

(303, 14)

In [7]:
heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [9]:
heart_data['target'].value_counts()

target
1    165
0    138
Name: count, dtype: int64

In [10]:
X=heart_data.drop(columns='target',axis=1)
Y=heart_data['target']

In [11]:
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [12]:
Y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

# Train Test Split

In [33]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=3)

In [14]:
y_test.value_counts()

target
1    33
0    28
Name: count, dtype: int64

In [15]:
y_train.value_counts()

target
1    132
0    110
Name: count, dtype: int64

In [16]:
print(X.shape,x_train.shape,x_test.shape)

(303, 13) (242, 13) (61, 13)

## Comparing the performance of models

In [30]:
models=[LogisticRegression(max_iter=1000),SVC(kernel='linear'),KNeighborsClassifier(),RandomForestClassifier()]

In [31]:
def compare_models_train_test():
    for model in models:
        model.fit(x_train,y_train)
        test_data_prediction=model.predict(x_test)
        accuracy=accuracy_score(y_test,test_data_prediction)
        print("Accuracy score of the ",model,"=",accuracy)

In [32]:
compare_models_train_test()

Accuracy score of the  LogisticRegression(max_iter=1000) = 0.7704918032786885
Accuracy score of the  SVC(kernel='linear') = 0.7704918032786885
Accuracy score of the  KNeighborsClassifier() = 0.6557377049180327
Accuracy score of the  RandomForestClassifier() = 0.7868852459016393

#### Learn about cross_val_score,K-Fold,StratifiedKFold on sklearn

# Cross Validation

### Logistic Regression

In [35]:
cv_score_lr=cross_val_score(LogisticRegression(max_iter=1000),X,Y,cv=5)
print(cv_score_lr)

[0.80327869 0.86885246 0.85245902 0.86666667 0.75      ]

In [36]:
mean_accuracy_lr=sum(cv_score_lr)/len(cv_score_lr)

In [37]:
mean_accuracy_lr=round(mean_accuracy_lr*100,2)
print(mean_accuracy_lr)

82.83

### Support Vector Classifier

In [41]:
cv_score_svc=cross_val_score(SVC(kernel='linear'),X,Y,cv=5)
print(cv_score_svc)
mean_accuracy_svc=sum(cv_score_svc)/len(cv_score_svc)
mean_accuracy_svc=round(mean_accuracy_svc*100,2)
print(mean_accuracy_svc)

[0.81967213 0.8852459  0.80327869 0.86666667 0.76666667]
82.83

### Function to compare models

In [42]:
models=[LogisticRegression(max_iter=1000),SVC(kernel='linear'),KNeighborsClassifier(),RandomForestClassifier()]

In [46]:
def compare_model_cross_validation():
    for model in models:
        cv_score=cross_val_score(model,X,Y,cv=5)
        print(cv_score)
        mean_accuracy=sum(cv_score)/len(cv_score)
        mean_accuracy=round(mean_accuracy*100,2)
        print("Cross Validation Accuracies for the ",model," = ",mean_accuracy)

In [47]:
compare_model_cross_validation()

[0.80327869 0.86885246 0.85245902 0.86666667 0.75      ]
Cross Validation Accuracies for the  LogisticRegression(max_iter=1000)  =  82.83
[0.81967213 0.8852459  0.80327869 0.86666667 0.76666667]
Cross Validation Accuracies for the  SVC(kernel='linear')  =  82.83
[0.60655738 0.6557377  0.57377049 0.73333333 0.65      ]
Cross Validation Accuracies for the  KNeighborsClassifier()  =  64.39
[0.83606557 0.91803279 0.78688525 0.81666667 0.75      ]
Cross Validation Accuracies for the  RandomForestClassifier()  =  82.15