In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv("bike_rentals.csv")

In [4]:
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2018,1,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,02-01-2018,1,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,03-01-2018,1,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,04-01-2018,1,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,05-01-2018,1,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

In [8]:
df.tail()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
725,726,27-12-2019,1,1,12,0,4,1,2,10.420847,11.33210,65.2917,23.458911,247,1867,2114
726,727,28-12-2019,1,1,12,0,5,1,2,10.386653,12.75230,59.0000,10.416557,644,2451,3095
727,728,29-12-2019,1,1,12,0,6,0,2,10.386653,12.12000,75.2917,8.333661,159,1182,1341
728,729,30-12-2019,1,1,12,0,0,0,1,10.489153,11.58500,48.3333,23.500518,364,1432,1796
729,730,31-12-2019,1,1,12,0,1,1,2,8.849153,11.17435,57.7500,10.374682,439,2290,2729

In [10]:
df.drop(columns=["instant","dteday"],inplace=True)

In [11]:
df.shape

(730, 14)

In [12]:
df.isnull().sum()

season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [13]:
X=df.drop(columns="cnt")
Y=df['cnt']

In [14]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=2)

In [15]:
print(X.shape,x_train.shape,x_test.shape)

(730, 13) (584, 13) (146, 13)

In [19]:
from sklearn.tree import DecisionTreeRegressor
reg=DecisionTreeRegressor(criterion="squared_error",max_depth=10,min_samples_split=10,random_state=5)

In [20]:
reg.fit(x_train,y_train)

DecisionTreeRegressor(max_depth=10, min_samples_split=10, random_state=5)

In [21]:
y_pred=reg.predict(x_test)

In [23]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test,y_pred)

47649.40720146416

In [24]:
np.sqrt(mean_squared_error(y_test,y_pred))

218.28744169434978

In [25]:
from sklearn.model_selection import cross_val_score
cross_val_score(reg,x_train,y_train,cv=10)

array([0.96958017, 0.99351979, 0.98742862, 0.99118931, 0.98253584,
       0.99039298, 0.98771991, 0.99309223, 0.98648906, 0.99532349])

In [27]:
np.sum(cross_val_score(reg,x_train,y_train,cv=10))/10

0.9877271398467459

In [28]:
from sklearn.model_selection import cross_val_score
cross_val_score(reg,x_test,y_test,cv=10)

array([0.96141718, 0.97697914, 0.88126609, 0.96885274, 0.95475186,
       0.9648671 , 0.95855401, 0.94963348, 0.84183931, 0.8058099 ])

In [30]:
np.sum(cross_val_score(reg,x_test,y_test,cv=10))/10

0.9263970806884723